<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<h1>Welcome to MeetMe</h1>
<form method="POST" action="/_startup" id="startup" name="startup">
  <fieldset>
    <legend>If you already have a meeting ID, enter it here and press Submit.</legend>
    <input type="text" id="meeting_id" name="meeting_id" placeholder="Existing Meeting ID">
    <input type="submit" value="Submit" />
  </fieldset>
</form>

{% if g.does_not_exist is defined  %}
  {% if g.does_not_exist is divisibleby 2 %}
    <font color="red">Meeting ID does not exist. Please try again or create a new meeting below.</font>
  {% endif %}
{% endif %}

<form method="POST" action="/_new" id="new" name="new">
  <fieldset>
    <legend>To create a new meeting, enter a unique meeting id (without spaces) and press New Meeting.</legend>
    <input type="text" id="new_meeting_id" name="new_meeting_id" placeholder="New Meeting ID">
    <input type="submit" value="New Meeting" />
  </fieldset>
</form>

{% if g.exists is defined  %}
  {% if g.exists is divisibleby 2 %}
    <font color="red">Meeting ID already exists. Please try a new one.</font>
  {% endif %}
{% endif %}

  </div>  <!-- container (for bootstrap) -->
  </body> </html>
